embit==0.8.0
Pillow==10.0.1
pyzbar @ git+https://github.com/lightningspore/pyzbar.git@f52c50fdce78d3308586052157231b8b0ebfa702
qrcode==7.3.1
urtypes @ git+https://github.com/selfcustody/urtypes.git@7fb280eab3b3563dfc57d2733b0bf5cbc0a96a6a
